<!DOCTYPE HTML>
<html>
		<head>
		<title>Account</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="./css/main.css" />
        <link rel="icon" href="https://altvaton.sirv.com/Images/favicon.png">
         <meta name="description" 
			content="Login with Discord! Simple as that.">
            <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;900&display=swap" rel="stylesheet">
		
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo"><img src="https://altvaton.sirv.com/Images/logo.png" style="height:40px;width:auto;"></a>
					<nav id="nav">
						<a href="/">Home</a>
						<a href="/bets">Commands</a>
                        <a href="/tokens">Lootbox</a>
						<a href="/about">About</a>
						<!--<a href="/arena">Arena<sub style="font-size: 10px;">soon!</sub></a>-->
                        <a href="/account">Account</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner" style="padding-bottom: 5em">
                <div class="landing">
                    <div class="desc">
                        <img src={{profileImage}} style="border-radius:50%">
                        <h3>{{username}}</h3>

                                <div style="border:1px solid white;width:350px;font-size:12px;padding:5px;border-radius:10px">
                                <p style="width:100%;margin-bottom: 0;color:white;margin-top:0;margin-left:5px;font-size:20px';font-family:'Inter'"><span style="font-weight: bold">0x192u0uda09dua90wdu90aw</p>
                            </div>
                    </div>
                </div>
			</section>

		<!-- One -->
			<section id="one" style="padding-bottom: 5em;padding: 3em;
    padding-top: 0em;">



                <div style="display: flex;max-width:75em;margin:auto">
                    <div class="desc" style="margin:initial;width:350px;" id="openbets">
                        <h1 style="font-size: 50px;margin-bottom:0"><img src='https://altvaton.sirv.com/Images/coin.png' style="height:35px;margin-bottom:0;margin-right:10px">{{tokens}} <img src='https://altvaton.sirv.com/Images/cashout.png' style="height:25px;margin-left:10px;margin-bottom:0;cursor:pointer" onclick="myFunction()"></h1>
                        <div style="margin-bottom:50px">
                            <h2 style="color:rgba(255, 255, 255, 0.55);font-size: 0.8em;font-weight:400">Weekly Return: <span style="color:{{color}};font-weight:600">{{return}}%</span></h2>
                        </div>
                        <h1>Bets</h1>
						<div style="display: flex;padding: 0.2em;">
                            
                            <div style="width: 61%;padding: 0.6em;">
                                <h2 style="font-weight: bold">Code</h2>
                            </div>
                            <div style="margin-left:20px;padding: 0.6em;">
                                <h2 style="font-weight: bold">Odds</h2>
                            </div>
							<div style="margin-left:10px;padding: 0.6em;">
                                <h2 style="font-weight: bold">Amount</h2>
                            </div>
                            <div style="margin-left:10px;padding: 0.6em;">
                                <h2 style="font-weight: bold">Status</h2>
                            </div>
                        </div>
						{{#if userBets}}
                        {{#each userBets}}
                        <div style="display: flex;background:rgb(26, 33, 42);height: fit-content;margin-top: 3px;padding: 0.2em;">
                            <div style="display:flex;width: 100%;">
                                <div style="padding: 0.6em;width:80%">
                                    <h2>{{this.Code}}</h2>
                                </div>
                                <div style="padding: 0.6em;margin-left:30px;">
                                    <h2>{{this.betOdds}}</h2>
                                </div>
								<div style="padding: 0.6em;margin-left:20px;width: 60px;overflow: hidden;">
                                    <h2>{{this.betAmount}}</h2>
                                </div>
                                <div style="padding: 0.6em;margin-left:20px;width: 60px;overflow: hidden;">
                                    <h2>{{this.status}}</h2>
                                </div>
                               
                            </div>
                        </div>
                        {{/each}}
                        {{else}}
                        <div style="width:85%">
                                <div style="padding: 0.6em;">
                                    <h2>No Bets</h2>
                                </div>
                                </div>
                            
                            {{/if}}
                        
                        <h1 style="margin-top: 70px;">Invests</h1>

						<div style="display: flex;padding: 0.2em;">
                            
                            <div style="width: 61%;padding: 0.6em;">
                                <h2 style="font-weight: bold">Code</h2>
                            </div>
                            <div style="margin-left:20px;padding: 0.6em;">
                                <h2 style="font-weight: bold">Odds</h2>
                            </div>
							<div style="margin-left:10px;padding: 0.6em;">
                                <h2 style="font-weight: bold">Amount</h2>
                            </div>
                            <div style="margin-left:10px;padding: 0.6em;">
                                <h2 style="font-weight: bold">Status</h2>
                            </div>
                        </div>
						{{#if userInvests}}
                        {{#each userInvests}}
                        <div style="display: flex;background:rgb(26, 33, 42);height: fit-content;margin-top: 3px;padding: 0.2em;">
                            <div style="display:flex;width: 100%;">
                                <div style="padding: 0.6em;width:80%">
                                    <h2>{{this.Code}}</h2>
                                </div>
                                <div style="padding: 0.6em;margin-left:30px;">
                                    <h2>3</h2>
                                </div>
								<div style="padding: 0.6em;margin-left:20px;width: 60px;overflow: hidden;">
                                    <h2>{{this.investAmount}}</h2>
                                </div>
                                <div style="padding: 0.6em;margin-left:20px;width: 60px;overflow: hidden;">
                                    <h2>{{this.status}}</h2>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        {{else}}
                        <div style="width:85%">
                                <div style="padding: 0.6em;">
                                    <h2>No Invests</h2>
                                </div>
                                </div>
                            
                            {{/if}}
							<div class="desc" style="margin-top:70px">
                        <a href="/logout"><button>Log Out</button></a>
                    </div>
					</div>


					


					<div class="desc" style="width:350px;margin:initial;display:none" id="wthdraw">
                        <h1 style="font-size: 50px;"><img src='https://altvaton.sirv.com/Images/coin.png' style="height:35px;margin-bottom:0;margin-right:10px">{{tokens}} <img src='https://altvaton.sirv.com/Images/cashout.png' style="height:25px;margin-left:10px;margin-bottom:0;cursor:pointer" onclick="myFunction()"></h1>
						
						
						{{#if userWithdraws}}
						<div style="display: flex;padding: 0.2em;">
                            <div style="width: 55%;padding: 0.6em;">
                                <h2 style="font-weight: bold">Tokens</h2>
                            </div>
                            <div style="margin-left:5px;padding: 0.6em;">
                                <h2 style="font-weight: bold">Crypto</h2>
                            </div>
							<div style="margin-left:10px;padding: 0.6em;">
                                <h2 style="font-weight: bold">Address</h2>
                            </div>
                        </div>
                        {{#each userWithdraws}}
                        <div style="display: flex;background:rgb(26, 33, 42);height: fit-content;margin-top: 3px;padding: 0.2em;">
                            <div style="display:flex;width: 92%;white-space: nowrap; overflow:hidden;text-overflow: ellipsis;">
                                <div style="padding: 0.6em;width:80%">
                                    <h2>{{this.tokens}}</h2>
                                </div>
                                <div style="padding: 0.6em;margin-left:40%;">
                                    <h2>{{this.crypto}}</h2>
                                </div>
								<div style="padding: 0.6em;margin-left:10px;">
                                    <h2>{{substring this.address}}</h2>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        {{else}}
						<h1>Withdraw</h1>
						<p style="margin-top:5px">It will automatically detect the right crypto</p>
                        <div style="display: flex;height: fit-content;margin-top: 3px;padding: 0.2em;">
                            <div style="display:flex;width: 100%;">
                                <form action="/auth/withdraw" method="POST">
									<input type="number" min="10000" max="{{tokens}}" style="background:none;border:1px solid white;padding:10px;width:100px;margin-top:20px;color: white;border-radius:4px" placeholder="Tokens" name="tokens">
									<input style="background:none;border:1px solid white;padding:10px;width:300px;margin-top:20px;color: white;border-radius:4px" placeholder="Address" name="address">
									
									<button style="margin-top:40px" type="submit">Withdraw</button>
								</form>
                            </div>
                        </div>
                            
                            {{/if}}
                            <br>
                            
                        
					</div>



						
                    </div>
                    

                   
                </div>
				 
			</section>
		

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
                            &copy; Impromptu <a href="/privacyterm"><span style="margin-left: 20px">Terms and Conditions</span></a> <span style="margin-left: 20px">Contact@getmeow.gg</span>
						</div>

						<ul class="icons">
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		
			<script src="./js/jquery.min.js"></script>
			<script src="./js/skel.min.js"></script>
			<script src="./js/util.js"></script>
			<script src="./js/main.js"></script>
			

	</body>
</html>