<!DOCTYPE HTML>
<html>
	<head>
		<title>Meow Random</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="./css/main.css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="icon" href="https://altvaton.sirv.com/Images/favicon.png">
        
        
	</head>
	<body onload=changeTimezone()>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo"><img src="https://altvaton.sirv.com/Images/logo.png" style="height:40px;width:auto;"></a>
					<nav id="nav">
						<a href="/">Home</a>
						<a href="bets">Commands</a>
                        <a href="tokens">Lootbox</a>
                        <a href="about">About</a>
						<!--<a href="/arena">Arena<sub style="font-size: 10px;">soon!</sub></a>-->
                        <a href="account">Account</a>
                        
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner" style="padding-bottom: 5em">
                <div class="landing">
                    <div class="desc">
                        <h1>Bet</h1>
                            <div>
                            <p style="margin-bottom: 0"><span style="font-weight: bold">Command:</span> !bet &lt;Tokens&gt; &lt;Code&gt;</p>
                            <p><span style="font-weight: bold">Ex.</span> !bet 500 LIVTOT1</p>
                             <div style="border:1px solid rgb(12, 212, 99);width:320px;font-size:12px;padding:5px">
                                <p style="margin-bottom: 0;color:rgb(12, 212, 99);margin-top:0;margin-left:5px"><span style="font-weight: bold">Claim Winnings:</span> !claim</p>
                            </div>
                        </div>
                    </div>
                </div>
			</section>

		<!-- One -->
			<section id="one" style="padding-bottom: 5em">
                <div class="content">
                    <div class="desc">
                        <div class="tabs">
                            <a href="/bets"><img src="https://altvaton.sirv.com/Images/football.svg" style="margin-left: 0;"></a>
                            <a href="/betsg"><img src="https://altvaton.sirv.com/Images/gamepad.svg"></a>
                            <a href="/betsbb"><img src="https://altvaton.sirv.com/Images/bb.svg"></a>
                            <!--<a href="/betft"><img src="./images/footbal.svg"></a>-->
                            <a href="/betsst"><img src="https://altvaton.sirv.com/Images/risk.svg"></a>
                            <a href="/betscr"><img src="https://altvaton.sirv.com/Images/bitcoin.svg"></a>
                            <a href="/casino"><img src="https://altvaton.sirv.com/Images/cards.svg"></a>
                            <a href="/betsq"><img src="https://altvaton.sirv.com/Images/q.svg" style="border-bottom: 1px solid white"></a>
                        </div>
                        <div style="display: flex;padding: 0.2em;">
                            <div style="width: 81%;padding: 0.6em;">
                                <h2 style="font-weight: bold">Random Event</h2>
                            </div>
                            <div style="padding: 0.6em;">
                                <h2 style="font-weight: bold">Return</h2>
                            </div>
                            <div style="margin-left:20px;padding: 0.6em;">
                                <h2 style="font-weight: bold">Code</h2>
                            </div>
                        </div>

                        {{#if outcomes}}
                        
                        {{#each outcomes}}
                        <p style="padding: 0.8em;font-size:0.7em;">{{this.desc}}</p>
                        <div style="display: flex;background:rgb(26, 33, 42);height: fit-content;margin-top: 3px;padding: 0.2em;">
                            <div style="width:85%">
                                <div style="padding: 0.6em;">
                                    <h2>{{this.team1}}</h2>
                                </div>
                                <div style="padding: 0.6em;">
                                    <h2>{{this.team2}}</h2>
                                </div>
                                <div style="padding: 0.6em;">
                                    <h2 class="date">{{this.timeStart}}</h2>
                                </div>
                            </div>
                            {{#each this.option1}} 
                            <div>
                                <div style="padding: 0.6em;">
                                    <h2 style="color:rgb(12, 212, 99)">{{this.odds}}x</h2>
                                </div>
                                <div style="padding: 0.6em;">
                                    <h2 style="color:rgb(12, 212, 99)">{{this.odds2}}x</h2>
                                </div>
                            </div>
                            <div style="margin-left:10px">
                                <div style="padding: 0.2em;">
                                    <h2 style="background-color:#1f262f;padding: 0.65em;border-radius: 4px">{{this.Code}}</h2>
                                </div>
                                <div style="padding: 0.2em;">
                                    <h2 style="background-color:#1f262f;padding: 0.65em;border-radius: 4px">{{this.Code2}}</h2>
                                </div>
                            </div>
                            {{/each}} 
                        </div>
                        {{/each}}
                        {{else}}
                        <div style="width:85%">
                                <div style="padding: 0.6em;">
                                    <h2>No Matches</h2>
                                </div>
                                </div>
                            </div>
                            {{/if}}


                        
                        
                         
                    </div>
                </div>
			</section>
		

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
                            &copy; Impromptu <a href="/privacyterm"><span style="margin-left: 20px">Terms and Conditions</span></a> <span style="margin-left: 20px">Contact@getmeow.gg</span>
						</div>

						<ul class="icons">
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						</ul>
					</div>
				</div>
			</footer>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        
	<script type="text/javascript">
      
            function changeTimezone() {
                    
                var values = document.getElementsByClassName("date");
                
                Object.keys(values).forEach((element) => {
                    var stillUtc = moment.utc(values[element].innerHTML, 'MM-DD hh:mm').toDate();
                    var time2 = moment(stillUtc).local().format('MM-DD hh:mm A');
                    values[element].innerHTML = time2;

            

                })
          
                    
            }
        </script>

		
			<script src="./js/jquery.min.js"></script>
			<script src="./js/skel.min.js"></script>
			<script src="./js/util.js"></script>
			<script src="./js/main.js"></script>

	</body>
</html>